* {
  font-family: "Roboto";
}
body {
  background-color: #ffe6c7;
  padding: 10px 160px;
}
header {
  background-color: #ff6000;
  height: max-content;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100px;
  
}
header > * {
  /* border: 2px solid black; */
}

#hdiv1 > img {
  height: 50px;
  width: 50px;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav a {
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
}
#mdiv1 {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
#mdiv2 {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}
.mdiv21 {
  width: 120px;
  /* border: 2px solid green; */
  text-align: center;
}
.mdiv21 img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
#mdiv3 {
  /* border: 2px solid black; */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#mdiv3 img {
  height: 450px;
  border-radius: 20px;
  width: fit-content;
}
#mdiv32 {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 29px;
  background-color: #ffa559;
  border-radius: 20px;
}
#mdiv4 {
  /* border: 2px solid black; */
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
}
#mdiv41 {
  font-size: 29px;
  /* border: 2px solid blue; */
}
#mdiv4>div{
    margin: 20px 0px;
}
#mdiv42 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#mdiv42 a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff6000;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

#mdiv43{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;

  }
  .mdiv41 {
    width: 120px;
    /* border: 2px solid green; */
    text-align: center;
    margin: 10px;
  }
  .mdiv41 img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
  #mdiv5{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
   
  }
  .card{
    background-color: #ffa559;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .card img{
    height: 120px;
    border-radius: 20px;
  }
  .card button{
    background-color: #ff6000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
  }
  #mdiv6{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;
    margin: 30px 0px ;

  }
  .mdiv61 {
    width: 120px;
    /* border: 2px solid green; */
    text-align: center;
    margin: 10px;
  }
  .mdiv61 img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
  #mdiv7{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    
   
  }
  .card7{
    background-color: #ffa559;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .card7 img{
    height: 120px;
    border-radius: 20px;
  }
  .card7 button{
    background-color: #ff6000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
  }
  #card73{
    grid-row:1/4 ;
    grid-column: 3/4;
    text-align: center;
    font-size: 28px;
  }
  footer{
    margin-top: 100px;
    text-align: center;
  }
